* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    font-size: 10px;
    background-color: antiquewhite;
}


/*--------------------
# Sección del header
---------------------*/

.boyGeneral {
    width: 160em;
    margin: auto;
}

header {
    width: 100%;
    height: auto;
}

.bobyHeader {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.texto{
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
    border-bottom: 0.1em solid black;
}

.logo {
    background-image: url(../IMG/logo.PNG);
    width: 40em;
    height: 10em;
    display: inline-block;
    margin-top: 5em;
    background-repeat: no-repeat;
}

.cajaMenu {
    width: 115em;
    height: 10em;
    display: inline-block;
    margin-top: 5em;
}


/*--------------------
# Sección del section
---------------------*/

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5em;
}

.contenido {
    width: 35em;
    height: 60em;
}

.img{
    width: 100%;
    height: 20em;
    background-color: gainsboro;
}

.titulo {
    width: 100%;
    height: 10em;
    background-color: 
    background: rgba(201,64,214,1);
background: -moz-linear-gradient(left, rgba(201,64,214,1) 0%, rgba(219,37,98,1) 49%, rgba(255,21,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(201,64,214,1)), color-stop(49%, rgba(219,37,98,1)), color-stop(100%, rgba(255,21,0,1)));
background: -webkit-linear-gradient(left, rgba(201,64,214,1) 0%, rgba(219,37,98,1) 49%, rgba(255,21,0,1) 100%);
background: -o-linear-gradient(left, rgba(201,64,214,1) 0%, rgba(219,37,98,1) 49%, rgba(255,21,0,1) 100%);
background: -ms-linear-gradient(left, rgba(201,64,214,1) 0%, rgba(219,37,98,1) 49%, rgba(255,21,0,1) 100%);
background: linear-gradient(to right, rgba(201,64,214,1) 0%, rgba(219,37,98,1) 49%, rgba(255,21,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c940d6', endColorstr='#ff1500', GradientType=1 );;
    margin-top: 3em;
 
}
.texto1{
    font-size: 3em;
    text-align: center;
    padding: 1em;
}

.parrafo {
    width: 100%;
    height: 11em;
    margin-top: 3em;
    font-size: 2em;
    text-align: justify;
}


/*----------------------
# Sección de resoluciones
----------------------*/

@media only screen and (max-width: 1600px) {
    /* Laptop */
    body {
        font-size: 8px;
    }
}

@media only screen and (max-width: 1366px) {
    /* Laptop */
    body {
        font-size: 7.5px;
    }
}


/*----------------------
# Sección de resoluciones IPAD
----------------------*/

@media only screen and (max-width: 768px) {
    body {
        font-size: 7px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .boyGeneral {
        width: 100%;
        margin: auto;
    }
    .logo {
    background-image: url(../IMG/logo.PNG);
    width: 40em;
    height: 10em;
    display: inline-block;
    margin-top: 5em;
    background-repeat: no-repeat;
    }
    .cajaMenu {
        width: 70%;
        height: 10em;
        display: inline-block;
        margin-top: 5em;
    }
    .section {
        display: block;
    }
    .contenido {
        float: left;
        width: 40em;
        height: 60em;
        margin: 0em 4em 10em 4em;
    }
}


/*----------------------
# Sección de resoluciones IPAD
----------------------*/

@media only screen and (max-width:767px) {
    body {
        font-size: 7px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .boyGeneral {
        width: 100%;
        margin: auto;
    }
    .logo {
    background-image: url(../IMG/logo.PNG);
    width: 40em;
    height: 10em;
    display: inline-block;
    margin-top: 5em;
    background-repeat: no-repeat;
        
    }
    .cajaMenu {
        width: 70%;
        height: 10em;
        display: inline-block;
        margin-top: 5em;
    }
    .section {
        display: block;
        width: 100%;
    }
    .contenido {
        float: none;
        display: block;
        margin: auto;
        width: 90%;
        height: 60em;
        margin-top: 3em;
        margin-bottom: 10em;
    }
    }
}


